{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype"
  ],
  "plugins": ["flowtype", "flowtype-errors"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "flowtype-errors/show-errors": "error",
    "no-underscore-dangle": "off",
    "no-await-in-loop": "warn",
    "no-continue": "off"
  }
}
